<div class="client-form-container">
  <h1>料金プラン</h1>
  <div class="client-form-card">
    <p>顧客数と1カルテあたりの画像枚数でプランを選べます。</p>
    <table class="client-detail-table">
      <tr><th>Free</th><td>顧客 50 名 / 画像 1 枚/カルテ</td></tr>
      <tr><th>Basic</th><td>顧客 150 名 / 画像 3 枚/カルテ</td></tr>
      <tr><th>Pro</th><td>顧客 無制限 / 画像 3 枚/カルテ</td></tr>
    </table>
    <div class="client-detail-actions">
      <%= link_to 'Free で利用中', '#', class: 'btn' %>
      <%= link_to 'Basic にアップグレード', '#', class: 'btn btn-detail' %>
      <%= link_to 'Pro にアップグレード', '#', class: 'btn btn-detail' %>
    </div>
  </div>
</div>

